



/* 

first only black background [sun icon ta zoom hoye thakbe] and scroll . diye por js use korte hobe. jate kore with scroll er saathe sun ta choto hoye jai diye position e aase.
last e scroll er time e sun ta onek spin korbe, diye dhire dhire background-image ta appear hobe. [jemon vor theke - dupur]

tarpor nav er sob li gulo sob dik theke ese nav t abanabe , diye fix hoye jabe nav ta center theke left e.

then welcome fade-in animation on appearing in viewport, after that "made with love by subhajit gorai" will shake word by word.

now do the things menttioned in html note.

*/






/* 
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
Fonts
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 */
.dancing-script-base {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "LoveRegular";
  src: url("https://assets.awwwards.com/assets/fonts/love/Love-Regular.woff");
  font-style: normal;
  font-weight: 200;
}

/* 
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
imported-animations
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 */
.underline-hover {
  position: relative;
  text-decoration: none;
  color: #000000;
  transition: color 0.3s ease-out;
}

/* Style for the underline */
.underline-hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: #000000;
  transition: width 0.3s ease-out;
}

/* Hover effect */
.underline-hover:hover::after {
  width: 100%;
}

/* Hover effect for the text color */
.underline-hover:hover {
  color: #000000;
}

/* 
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
root
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 */
:root{
  /* nav */
  --difference: 20px;

  /* nav li */
  --initial-height-of-nav-li: 0px;
  --height-of-one-nav-li: 46.66px;
  --total-nav-li: 12;

  /* container nav || .nav */
  --initial-height-of-container-nav-div: 40px;
  --final-height-of-container-nav-div: calc(var(--height-of-one-nav-li) * var(--total-nav-li));
  --width-of-container-nav-div: 400px;
  --bg1: rgba(255, 126, 242, 0.21);
  --bg2: rgba(226, 46, 152, 0.68);

  /* nav */
  --initial-height-of-nav: calc(var(--initial-height-of-container-nav-div) + var(--difference));
  --final-height-of-nav: calc(var(--final-height-of-container-nav-div) + var(--difference));
  --width-of-nav: calc(var(--width-of-container-nav-div) + var(--difference));

  /* positioning */
  --top: 30px;
  --left: 20px;
  --right: calc(100% - calc(var(--width-of-nav) + var(--left)));

  /* delays */
  --transition-delay: 0.2s;
  --transition-duration: 0.3s;

  --radius: 45px;
  --z-value: 100;

  --font-size: 1.2rem;
  /* section */
}

/* 
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
body,html
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 */

*{
  margin: 0;
  padding: 0;
}

/* 
  make every unit in vw vh or % so it remains responsive
*/

body{
  background-color: black;
}

/* 
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
Cursor
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 */

.cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fffcef;
  pointer-events: none;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s;
  /* pointer-events: visibleStroke; */
}

section .c1 .b2 .span:hover ~ .cursor{
  transform: translate(-50%, -50%) scale(3);
}

/* 
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
Nav
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 */

nav{
  /* position: absolute; */
  position: fixed;
  top: var(--top);
  left: var(--left);
  z-index: var(--z-value);

  width: var(--width-of-nav);
  height: var(--initial-height-of-nav);
  border-radius: var(--radius);
  background-color: var(--bg1);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0;

  transition: var(--transition-duration);
  transition-delay: var(--transition-delay);
}

.nav{
  z-index: var(--z-value);
  width: var(--width-of-container-nav-div);
  height: var(--initial-height-of-container-nav-div);
  border-radius: var(--radius);
  background-color: var(--bg1);

  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;

  font-size: 0;

  transition: var(--transition-duration);
  transition-delay: var(--transition-delay);
}

.nav .ul{
  position: relative;
  height: var(--initial-height-of-container-nav-div);
  width: var(--width-of-container-nav-div);
  font-size: 0;
  z-index: var(--z-value);

  display: flex;
  flex-direction: column;

  transition: var(--transition-duration);
  transition-delay: var(--transition-delay);

  /* border: 5px solid rgb(17, 0, 255); */
}

.nav .ul .li{
  z-index: var(--z-value);
  position: relative;
  top: 0;
  left: 0;
  padding: 0px;

  height: var(--initial-height-of-nav-li);
  border-bottom: 0px solid black;
  /* border: 1px solid red; */

  font-size: 0;

  transition: var(--transition-duration);
  transition-delay: var(--transition-delay);
}

.nav .ul .li a{
  position: relative;
  z-index: var(--z-value);
  text-decoration: none;
  color: #000;
  font-size: 0;

  transition: var(--transition-duration);
  transition-delay: var(--transition-delay);
}

nav:hover{
  height: var(--final-height-of-nav);
}
nav:hover .nav{
  height: var(--final-height-of-container-nav-div);
  border: 1px solid black;

  /* background-color: var(--bg2); */
}
nav:hover .nav .ul{
  height: var(--final-height-of-container-nav-div);
}
nav:hover .nav .ul .li{
  height: var(--height-of-one-nav-li);
  font-size: var(--font-size);
  padding-left: 50px;
  padding-top: 10px;
  border-bottom: 1px solid black;

  /* background-color: var(--bg1); */
}
nav:hover .nav .ul .li:last-child{
  height: var(--height-of-one-nav-li);
  font-size: var(--font-size);
  padding-left: 50px;
  padding-top: 10px;
  border-bottom: none;
}
nav:hover .nav .ul .li a{
  font-size: var(--font-size);
}

.nav .ul .li:hover{
  background-color: var(--bg2);
}

.nav .ul .li:hover:first-child{
  background-color: inherit;
}

.nav .ul .li:hover:last-child{
  background-color: inherit;
}

.nav .ul .li a:active{
  color: red;
}
/* 
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
Dark Mode Button
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 */
.invert{
  filter: grayscale(85%) brightness(0.8);
}

#invert-button{
  position: absolute;
  top: 42px;
  right: calc(100vw - 495px);
  z-index: 45;
  width: 36px;
  height: 36px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  /* border: 3px solid rgba(168, 168, 168, 0.8); */
  background-color: transparent;
  border: none;
  mix-blend-mode:darken;
  transition: var(--transition-duration);

  background-image: url('sun.png'); 
  background-size: cover; 
  background-repeat: no-repeat;

}

#invert-button:hover{
  /* background-color: rgba(168, 168, 168, 0.8); */
  transform: scale(1.414);
  transition: 0.3s;
}

/* 
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
section
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 */

section{
  height: 100vh;
  width: 100%;
}

/* 
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
container
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 */

.c1{
  height: 100%;
  width: 100%;
}

/*
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
image-div
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*/
.b1{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;

  /* background-image: url('pictures/original.jpg'); */
  /* background-image: url('pictures/timid-gentle-grass.jpg'); */
  /* background-image: url('pictures/p-boat.jpeg'); */
  background-image: url('pictures/pink-flowers.jpg');
  /* background-image: url('pictures/blue-flowers.jpg'); */
  /* background-image: url('pictures/b-w.jpeg'); */

  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* background: azure; */
}

/* 
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
intro-div
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 */
#b2{
  position: absolute;
  top: calc(100vh + 300px); 
  /* 900+200 */
  left: 500px;
  width: calc(100vw - 610px);
  height: 360px;
  background-color: rgba(39, 39, 217, 0.00);

  /* color: white; */
  /* for b-w.jpg , blue-flowers.jpg*/

  font-family: LoveRegular, sans-serif;
  font-size: 8.8rem;
  font-weight: 550;

  z-index: 10;

  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;

  opacity: 0;
  /* animation: slide-in 0.7s forwards; */
}

@keyframes slide-in {
  0%{
    font-size: 0;
    opacity: 0;
  }
  100%{
    font-size: 8.8rem;
    opacity: 1;
  }
}

.animate {
  /* Add animation styles here */
  animation: slide-in 1.7s forwards;
}

.span-style{
  font-size: 20px;
  align-items: center;
}

/* 
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
scroll
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
*/
#b3{
  position: absolute;
  top: 600px;
  left: calc((100vw - 400px) / 2);
  width: 400px;
  height: 160px;
  background-color: rgba(39, 39, 217, 0.00);
  font-size: 1.7rem;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: up-down 1.2s forwards infinite;
}
@keyframes up-down {
  0% , 50% , 100% { 
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-20px);
  }
  75% {
    transform: translateY(20px);
  }
}